<div class="main--header">

	<div class="navigationTrigger navigation">
		<img class="icon" src="{{ asset('build/images/admin_menu.png') }}"/>
	</div>

	<div class="action">

		<a class="item" href="/logout">
			<img  class="icon" src="{{ asset('build/images/admin_logout.svg') }}"/>
		</a>

	</div>
</div>
