@use "./../../../../../common/grid" as *;
.searcher {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  > .content {
    display: flex;
    align-items: center;
    border-radius: 28px;
    background-color: white;
    border: 1px solid #c6c5d0;
    padding: 10px;
    width:100%;
    max-width: 558px;
 
    > .input {
        margin-left:10px;
        border:none;
        outline: none;
        &:focus {
            outline: none;
        }
    }
  }
}
