<div class="crisis">

	<div class="container">

		<div class="main--title --darkBlue --center --big  fadeInTrigger">Jesteś w kryzysowej sytuacji? Potrzebujesz wsparcia psychicznego natychmiast?</div>

		<div class="crisis--boxes ">

			<div class="crisis--box fadeInTrigger">
				<a  href="tel:112"  class="crisis--phone"><img src="{{ asset('images/phone.svg') }}"/>112</a>
				<div class="crisis--desc">Gdy występuje zagrożenie życia</div>
			</div>

		<div class="crisis--box fadeInTrigger">
				<a   href="tel:514202619" class="crisis--phone"><img src="{{ asset('images/phone.svg') }}"/>514 202 619</a>
				<div class="crisis--desc">Telefon interwencyjny dla osób w trudnej sytuacji życiowej (w tym myślących o samobójstwie)</div>
			</div>


		<div class="crisis--box fadeInTrigger">
				<a  href="tel:116123" class="crisis--phone"><img src="{{ asset('images/phone.svg') }}"/>116 123</a>
				<div class="crisis--desc">Kryzysowy Telefon Zaufania</div>
			</div>

	     <div class="crisis--box fadeInTrigger">
				<a  href="tel:116111" class="crisis--phone"><img src="{{ asset('images/phone.svg') }}"/>116 111</a>
				<div class="crisis--desc">Telefon zaufania dla dzieci i młodzieży</div>
			</div>


		</div>
	</div>

</div>
