<div class="effect">

	<div class="effect--boxes container">


		<div class="effect--box fadeInTrigger"><img src="{{ asset('images/women.png') }}"/></div>

		<div class="effect--box fadeInTrigger">
			<div class="main--title --big  --darkBlue effect--title">
				{{cms.sg_effect_title}}}
                </div>
			<div class="effect--desc">
						{{cms.sg_effect_description}}</div>
		</div>


	</div>

</div>
