<section class='container'>
<div class='hero'>
	<div class="hero--boxes">

		<div class="hero--box">

			<div class="hero--title fadeInTrigger">{{cms.sg_hero_title}}</div>
			<div class="hero--desc fadeInTrigger">{{cms.sg_hero_description}}</div>
			<a style="display:inline-block;"  href="{{path('doctor_list')}}"class="btn--primary fadeInTrigger">Znajdź specjalistę</a>


		</div>

		<div class="hero--box">
			<img class="offer--arrow fadeInTrigger" src="{{ asset('images/hero.png') }}"/></div>

	</div>
    </div>
</section>
