<div class="opinion">

	<div class="container">

		<div class="main--title --darkBlue --center --big --marginBottom fadeInTrigger">Opinie naszych pacjentów</div>

		<div class="slider-o fadeInTrigger">
			<div class="slide_wrapper">
				<ul class="slider_rail" id="slider_rail">
					<li class="slide_content">
						<div class="slide_content">
							<p class="slider_opinion">Our clients’ overwhelmingly positive feedback speaks volumes about the transformative impact our therapists have on their lives. We are immensely proud to have played a role in their well-being journey.</p>
							<p class="slider_desc">Janek Kowalski</p>
						</div>
					</li>
					{# <li class="slide_content">
																<div class="slide_content">
																	<p class="slider_opinion">Our clients’ overwhelmingly positive feedback speaks volumes about the transformative impact our therapists have on their lives. We are immensely proud to have played a role in their well-being journey.</p>
																	<p class="slider_desc">Marcin Kowalski</p>
																</div>
															</li>
															<li class="slide_content">
																<div class="slide_content">
																	<div class="slide_content">
																		<p class="slider_opinion">Our clients’ overwhelmingly positive feedback speaks volumes about the transformative impact our therapists have on their lives. We are immensely proud to have played a role in their well-being journey.</p>
																		<p class="slider_desc">Mateusz Kowalski</p>
																	</div>
																</div>
															</li>
															<li class="slide_content">
																<div class="slide_content">
																	<div class="slide_content">
																		<p class="slider_opinion">Our clients’ overwhelmingly positive feedback speaks volumes about the transformative impact our therapists have on their lives. We are immensely proud to have played a role in their well-being journey.</p>
																		<p class="slider_desc">12Mateusz Kowalski</p>
																	</div>
																</div>
															</li>
															<li class="slide_content">
																<div class="slide_content">
																	<div class="slide_content">
																		<p class="slider_opinion">Our clients’ overwhelmingly positive feedback speaks volumes about the transformative impact our therapists have on their lives. We are immensely proud to have played a role in their well-being journey.</p>
																		<p class="slider_desc">34Mateusz Kowalski</p>
																	</div>
																</div>
															</li>
															<li class="slide_content">
																<div class="slide_content">
																	<div class="slide_content">
																		<p class="slider_opinion">Our clients’ overwhelmingly positive feedback speaks volumes about the transformative impact our therapists have on their lives. We are immensely proud to have played a role in their well-being journey.</p>
																		<p class="slider_desc">56Mateusz Kowalski</p>
																	</div>
																</div>
															</li> #}

				</ul>
			</div>
			<button class="action_btn" id="prev"><img src="{{ asset('images/arrow_blue.svg') }}"/></button>
			<button class="action_btn" id="next"><img src="{{ asset('images/arrow_blue.svg') }}"/></button>
		</div>


	</div>

</div>
