$black: #000000;
$white: #ffffff;
$blue-dark: #195ede;
$blue-middle: #00aeef;
$blue-light: #90cef1;
$footer: #01a9e8;
$red: #d70105;
$yellow: #fdcb11;
// $primary: #1976d2;
// $primary: #ffb600;
// $primary-hover: #d19603;
$primary: #4259a9;
$primary-bright: #5969a1;
$primary-hover: #354b96;
$primary-background: #121415;
// $secondary:#ff9328;
$color-border: #e5e5e5;
$grey: #d6d5cd;
$secondary: #bbf294;
$secondary-hover: #abdf87;

// $text: #20262d;
$text: #1b1b1f;
$text-blue: #00164f;
$text-grey: #0a2100;
$text-bright: #c4c2c2;
$border: #d6d5cd;
$background-page: $white;
$background-bright: #f1f1f1;
$background-functional: #cbe8f4;
$background-body: #faf8ff;
$error: #d70105;
$warning: #f6b817;
$success: #289a44;