// @import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");

// @import url("https://p.typekit.net/p.css?s=1&k=zfp5gqs&ht=tk&f=43322.43323.43324&a=27601343&app=typekit&e=css");

// @font-face {
//     font-family: "marvin";
//     src: url("https://use.typekit.net/af/88297f/00000000000000007735cbe9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("woff2"),
//         url("https://use.typekit.net/af/88297f/00000000000000007735cbe9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("woff"),
//         url("https://use.typekit.net/af/88297f/00000000000000007735cbe9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("opentype");
//     font-display: auto;
//     font-style: normal;
//     font-weight: 400;
// }

// @font-face {
//     font-family: "marvin-round";
//     src: url("https://use.typekit.net/af/c93b0b/00000000000000007735cbea/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("woff2"),
//         url("https://use.typekit.net/af/c93b0b/00000000000000007735cbea/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("woff"),
//         url("https://use.typekit.net/af/c93b0b/00000000000000007735cbea/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("opentype");
//     font-display: auto;
//     font-style: normal;
//     font-weight: 400;
// }

// @font-face {
//     font-family: "marvin-shadow";
//     src: url("https://use.typekit.net/af/6ee987/00000000000000007735cbec/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("woff2"),
//         url("https://use.typekit.net/af/6ee987/00000000000000007735cbec/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("woff"),
//         url("https://use.typekit.net/af/6ee987/00000000000000007735cbec/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//             format("opentype");
//     font-display: auto;
//     font-style: normal;
//     font-weight: 400;
// }

// @import url("https://p.typekit.net/p.css?s=1&k=zfp5gqs&ht=tk&f=43322.43323.43324&a=27601343&app=typekit&e=css");

// @font-face {
// font-family:"marvin";
// src:url("https://use.typekit.net/af/88297f/00000000000000007735cbe9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/88297f/00000000000000007735cbe9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/88297f/00000000000000007735cbe9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
// font-display:auto;font-style:normal;font-weight:400;
// }

// @font-face {
// font-family:"marvin-round";
// src:url("https://use.typekit.net/af/c93b0b/00000000000000007735cbea/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c93b0b/00000000000000007735cbea/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c93b0b/00000000000000007735cbea/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
// font-display:auto;font-style:normal;font-weight:400;
// }

// @font-face {
// font-family:"marvin-shadow";
// src:url("https://use.typekit.net/af/6ee987/00000000000000007735cbec/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6ee987/00000000000000007735cbec/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6ee987/00000000000000007735cbec/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
// font-display:auto;font-style:normal;font-weight:400;
// }

// @font-face {
//     font-family:"marvin";
//     src:url(../fonts/397-font.otf) format("opentype");
//     font-display:auto;font-style:normal;font-weight:400;
//     }

// $font-marvin: "marvin", sans-serif;
// $font-teko: 'Teko', sans-serif;
