// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
// @import "../../../node_modules/bootstrap/scss/grid";
// @import "../../../node_modules/bootstrap/scss/containers";
@import "./variables";
@import "./colors";
@import "./reset";
@import "./helper";
@import "./mixins";
@import "./fonts";
@import "./grid";
@import "./body";
@import "./typography";
@import "./buttons";
@import "./icons";

// @import "./form";
@import "./table";
@import "./loader";
@import "./effects";
@import "./subpage";
.test {
    @include xs-up() {
        background: red;
    }
}

.main-wrapper {
    display: flex;
    height: auto;
    // @include md-up {
    //     margin-left: 22rem;
    // }
    // @include lg-up {
    //     margin-left: 28rem;
    // }
    >.content {
        height: 100%;
        min-height: 100%;
        width: 100%;
    }
}