<div class='hero'>
    <div class='container'>
	<div class="hero--boxes">

		<div class="hero--box fadeInTrigger">

			<div class="hero--title fadeInTrigger">{{cms.work_hero_title}}</div>
			<div class="hero--desc fadeInTrigger">{{cms.work_hero_description}}</div>
			<a target="_blank" style="display:inline-block;" href="https://docs.google.com/document/d/1o9G_f0zYeuNPD-OILJtDSFcGb-cA8Cfg4e-y0qLXg9o/edit"  class="btn--primary fadeInTrigger">Dołącz do nas</a>

		</div>

		<div class="hero--box fadeInTrigger">
			<img class="offer--arrow" src="{{ asset('images/women.png') }}"/></div>
    </div>
        
    </div>

</div>
