<div class="join">
	<div class="container">
		<div class="main--title --big --darkBlue --center --m600 fadeInTrigger">
			Chcesz dołączyć do zespołu
		</br>specjalistów W GŁOWIE SIĘ NIE MIEŚCI?
        </div>
	<div style="margin: 0 auto" class="main--subtitle --m600 --center fadeInTrigger">
		Wypełnij formularz zgłoszeniowy i poznaj szczegóły oferty. Odezwiemy się do Ciebie.


	</div>
    <div style="display:flex;justify-content:center;">
    <div class="btn--primary join__button fadeInTrigger">Dołącz do nas!</div>
    </div>
	
</div>
</div>
