{% extends 'base.site.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('pages-faq') }}
{% endblock %}
{% block body %}


	<div class="container ">


                <div id="faq"></div>

			</div>

    
    </div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pages-faq') }}
{% endblock %}
