{% extends 'base.site.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('pages') }}
{% endblock %}
{% block body %}


	<div class="container ">
	        <div class="page box-shadow">

			<h1 class="main--title --center">Polityka prywatności</h1>

            	{# <div class="fadeInTrigger"> #}
                       	<div class="div">
				<p class="page__paragraph">Serwis Wglowiesieniemiesci.pl szanuje Twoją prywatność, dlatego przedstawia pełną informację na temat zbieranych informacji o użytkownikach Serwisu. Korzystając z Serwisu, wyrażasz zgodę na zasady niniejszej Polityki prywatności.</p>
				<p class="page__paragraph">Dane osobowe mogą być gromadzone poprzez podawanie informacji przez użytkownika w formularzach zawartych w Serwisie lub w sposób automatyczny podczas korzystania z Serwisu. Automatycznie mogą być zapisywane informacje w logach serwerów oraz Serwisu, np. adres IP, żądanie strony wysyłane przez użytkownika, data i godzina żądania, typ przeglądarki, język przeglądarki, dane urządzenia, typ systemu operacyjnego. Serwis gromadzi również pliki „cookies” – pliki tekstowe wysyłane przez Serwis na urządzenie użytkownika odwiedzającego Serwis, z którego ten korzysta.</p>
				<p class="page__paragraph">
					Informacje zbierane w sposób automatyczny służą następującym
					<br>
					– administrowanie serwerami i Serwisem,<br>
					– zapewnienie bezpieczeństwa serwerom i Serwisowi,<br>
					– zapewnienie świadczenia usług,<br>
					– gromadzeniu statystyk,<br>
					– wyświetlaniu reklam.<br>
				</p>
				<p class="page__paragraph">
					Pliki „cookies” mogą zawierać informacje niezbędne do prawidłowego funkcjonowania
													            Serwisu, przy czym służą następującym celom:
					<br>
					– ułatwieniu korzystania z Serwisu,<br>
					– dopasowaniu Serwisu do preferencji użytkownika,<br>
					– zapamiętywaniu indywidualnych ustawień użytkownika,<br>
					– gromadzeniu statystyk,<br>
					– wyświetlaniu reklam.<br>
				</p>
				<p class="page__paragraph">
					Przeglądarki internetowe domyślnie przechowują pliki „cookies” na urządzeniu użytkownika.
													            Przy czym, użytkownik posiada możliwość skonfigurowania przeglądarki internetowej tak,
													            aby nie gromadziła lub gromadziła w stopniu ograniczonym pliki. Jednakże, wyłączenie
													            funkcji gromadzenia plików może przyczynić się do nieprawidłowego funkcjonowania
													            Strony. Co więcej, część danych może być gromadzona przez podmioty zewnętrzne, z
													            których korzysta Serwis, jak Facebook, Google. Wobec tego, warto zapoznać się z polityką
													            prywatności ww. podmiotów, bowiem to na ich zasadach przetwarzane i gromadzone są dane
													            o użytkownikach.
				</p>
				<p class="page__paragraph">
					W celu ochrony zbieranych danych Serwis zapewnia ich bezpieczeństwo poprzez fizyczne
													            zabezpieczenia, systemy bezpieczeństwa zapewniające autoryzowany dostęp do serwerów
													            oraz Serwisu. Dane udostępniane są wyłącznie podmiotom do tego uprawnionym i wyłącznie
													            w zakresie niezbędnym do realizacji ich obowiązków.
				</p>
				<p class="page__paragraph">
					Zgodnie z art. 13 ust. 1 i ust. 2 Rozporządzenia Parlamentu Europejskiego i Rady (UE)
													            2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
													            przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz
													            uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (Dz. U. UE. L. z
													            2016 r. Nr 119, str. 1 ze zm., dalej zwane „RODO”) informujemy, że:<br>
					<ul class="page__alphabetic page__alphabetic--main">
						<li>administratorem danych osobowych jest WEBPERFECTION spółka z ograniczoną
																			                odpowiedzialnością z siedzibą w Olkuszu, adres: ul. Marii Konopnickiej 6/18, 32-
																			                300 Olkusz. Sąd rejestrowy: Sąd Rejonowy dla Krakowa-Śródmieścia w Krakowie,
																			                XII Wydział Gospodarczy Krajowego Rejestru Sądowego, nr KRS: 0000626252,
																			                NIP: 6372198154, wysokość kapitału zakładowego: 5.000,00 złotych
																			                (Administrator). Dane kontaktowe: adres e-mail admin@komentatory.pl., tel.
																			                668-947-708.,
						</li>
						<li>dane osobowe będą przetwarzane w celu:
							<ul class="page__alphabetic page__alphabetic--child">
								<li>korespondencji,</li>
								<li>realizacji usług świadczonych drogą elektroniczną,</li>
								<li>dochodzenia roszczeń z tytułu zawartych umów lub szkód wyrządzonych
																									                        Administratorowi,
								</li>
							</ul>
						</li>
						<li>
							podstawą prawną przetwarzania danych osobowych są przepisy art. 6 ust.1 pkt a, b,
																			                c, d RODO,
						</li>
						<li>odbiorcą danych osobowych będą podmioty świadczące na rzecz Administratora
																			                obsługę podatkową i rachunkową, pomoc prawną, usługi: bankowe, windykacyjne,
																			                hostingowe, poczty elektronicznej,
						</li>
						<li>
							dane osobowe będą przechowywane do czasu realizacji umowy i następnie przez 2
																			                lata, w przypadku dokumentów księgowych i handlowych przez czas określony w
																			                obowiązujących przepisach prawnych w szczególności art. 74 ustawy z dnia 29
																			                września 1994 r. o rachunkowości (Dz. U. z 2019 r. poz. 351 ze zm.), w zakresie
																			                związanym z obroną i dochodzeniem roszczeń przez okres 10 lat. Administrator
																			                może przechowywać dane osobowe dłużej, ale stanie się tak wyłącznie z
																			                uzasadnionych powodów, jeżeli prawo zezwala na takie przechowywanie,
						</li>
						<li>
							w odniesieniu do danych osobowych przysługuje prawo do:
							<ul class="page__alphabetic page__alphabetic--child">
								<li>żądania od Administratora dostępu do danych osobowych,</li>
								<li>żądania od Administratora sprostowania danych osobowych,</li>
								<li>żądania usunięcia danych przetwarzanych bezpodstawnie,</li>
								<li>żądania ograniczenia przetwarzania danych,</li>
								<li>wniesienia sprzeciwu wobec przetwarzania danych osobowych,</li>
								<li>żądania przenoszenia danych do innego administratora danych,</li>
								<li>cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem
																									                        przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem,
																									                        jeżeli przetwarzanie odbywa się na podstawie zgody,
								</li>
								<li>wniesienia skargi do organu nadzorczego w razie uznania, że przetwarzanie
																									                        danych osobowych narusza przepisy prawa, organem nadzorczym jest Prezes
																									                        Urzędu Ochrony Danych Osobowych, ul. Stawki 2, 00-193 Warszawa,
								</li>
							</ul>
						</li>
						<li>podanie danych osobowych jest wymogiem umownym oraz może być warunkiem
																			                zawarcia umowy o świadczenie usług drogą elektroniczną. W konsekwencji
																			                nie podania danych osobowych umowa może nie zostać zawarta i zrealizowana,
						</li>
						<li>
							dane osobowe mogą być przekazywane poza Europejski Obszar Gospodarczy do:
							<ul class="page__alphabetic page__alphabetic--child">
								<li>Google LLC z siedzibą w Mountain View, w Stanach Zjednoczonych, w
																									                        związku z korzystaniem z systemu poczty elektronicznej, narzędzia Google
																									                        Analytics oraz narzędzi wchodzących w skład G-Suite, w celach
																									                        statystycznych i administracyjnych,
								</li>
								<li>Facebook Inc. z siedzibą w Menlo Park, w Stanach Zjednoczonych, w
																									                        związku z wykorzystaniem portalu Facebook w celach rozpowszechniania
																									                        moich treści.
								</li>
							</ul>
						</li>
					</ul>

				</p>
			</div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pages') }}
{% endblock %}
