{% extends 'base.site.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('pages') }}
{% endblock %}
{% block body %}


	<div class="container ">
	        <div class="page box-shadow">

			<h1 class="main--title --center">Regulamin</h1>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pages') }}
{% endblock %}
