.wrapper {
    position: relative;
    margin-bottom: 20px;
  
    .password-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  
    input {
      font-weight: 400;
      font-size: 16px;
      height: 55px;
      border-radius: 4px;
      border: 1px solid transparent; // Remove border color here
      width: auto; // Adjust as needed
      padding: 15px 15px 2px 15px;
  
      &:focus {
        outline: none;
      }
  
      &.error {
        border-color: $red; // Define the error border color
      }
  
      // Add any additional styles for input here
    }
  
    label {
      color: $grey300; // Define the label color
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 15px;
      top: 16px;
      transition: 0.2s ease all;
  
      // Adjust label styles as needed
    }
  
    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      top: 5px;
      font-size: 10px;
      font-weight: 600;
      color: $grey300; // Define the label color
    }
  }