{% extends 'base.site.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('panel-specialist') }}
{% endblock %}
{% block body %}

	<div class="player">

	<div id="authModal"></div>
	</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('panel-specialist') }}
{% endblock %}
