{% extends 'base.site.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('auth') }}
{% endblock %}
{% block body %}

	<div id="auth"></div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('auth') }}
{% endblock %}
