@import "./../../../common/colors.scss";

.form-error {
  display: flex;
  align-items: center;
  color: $error;
  border-radius: 5px;
  width: 90%;
  margin:0 auto;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  svg {
    margin-right: 7px;
  }
}
