$text: #111827;
$background-page: #f6f7f9;

$background-light: #252f3e;
$background-light-hover: #364152;

$background-dark: #1b2330;

$background-intro: #1e2634;
$background-content: #e6e5de;
$background-content-hover: #ffffff;

$border: #d6d5cd;
$grey: #d6d5cd;

$primary: #0f2b49;
$primary-hover: #264566;

$secondary: #4fd3ed;


$white: #ffffff;
$red: #ea4135;
$orange: #f46f02;
$green: #3bd261;
$violet: #525e8a;

$error: #f33134;
$warning: #f6b817;
$success: #289a44;
