<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
    body:{color:black;}
    
    </style>
</head>

	<body>

		<h3>Wiadomość z formularza kontaktowego:</h3>

		Imię:
		{{username}}
		<br>
		Email:
		{{email}}
		<br>
		Telefon:
		{{phone}}
		<br>
		Treść wiadomości:
		{{message}}
		<br>

	</body>
</html>
