<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
    body:{color:black;}
    
    </style>
</head>

<body>
Zmiana hasła w serwisie W głowie się nie mieści,
<br><br>
Aby zmienić hasło, kliknij <a href="{{ routeService.getDomainUrl }}{{ path('user_reset-password',{'token': user.tokenChangePassword})}}">link.</a>.
<br>
Pozdrawiamy,<br>
W GŁOWIE SIĘ NIE MIEŚCI<br>
Centrum Psychoterapii Online
<br><br><br>
<div style="font-size: 10px; color:#006aad;">Jeśli ten email trafił do Ciebie przypadkowo prosimy o zignorowanie tej wiadomości</div>
</body>
</html>


