<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
    body:{color:black;}
    
    </style>
</head>
	<body>

		Dziękujemy za założenia konta w naszej aplikacji. Twoje dane do logowania:
		<br><br>
		<br><br>
		Email:
		{{user.email}}
		<br>
		Hasło:
		{{user.tokenActivePassword}}
				<br>
		<br>
		<a style="background:#00c700; padding: 10px 20px; border-radius: 5px;color:white;" href="https://rehawinners.pl">Zaloguj się</div>
		<br>
		<br>
		Pozdrawiamy,<br>
		Zespół Rehawinners.pl
	</body>
</html>
